## extensions
*.*
!*.css
!*.js
!*.json
!*.less
!*.md
!*.ts
!*.tsx
!*.yaml
!*.yml

## same as in .gitignore
.DS_Store
coverage
node_modules
out

## special cases
dependencies/**
!dependencies/README.md
styles/*.css

test.js
test.mjs
test/markdown/test-files/**

src/prism/prism.js
