pre {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  color: #EEFFFF;
  background-color: #2e3d44 !important;
  border: #475d69;
  border-radius: 3px;
}
code[class*="language-"] .token.comment,
pre[class*="language-"] .token.comment,
code[class*="language-"] .token.prolog,
pre[class*="language-"] .token.prolog,
code[class*="language-"] .token.doctype,
pre[class*="language-"] .token.doctype,
code[class*="language-"] .token.cdata,
pre[class*="language-"] .token.cdata {
  color: #4f6875;
}
code[class*="language-"] .token.punctuation,
pre[class*="language-"] .token.punctuation {
  color: #82AAFF;
}
code[class*="language-"] .namespace,
pre[class*="language-"] .namespace {
  opacity: .7;
}
code[class*="language-"] .token.constant,
pre[class*="language-"] .token.constant {
  color: #F07178;
}
code[class*="language-"] .token.property,
pre[class*="language-"] .token.property {
  color: #73d1c8;
}
code[class*="language-"] .token.boolean,
pre[class*="language-"] .token.boolean,
code[class*="language-"] .token.number,
pre[class*="language-"] .token.number,
code[class*="language-"] .token.function-name,
pre[class*="language-"] .token.function-name {
  color: #F78C6A;
}
code[class*="language-"] .token.tag,
pre[class*="language-"] .token.tag {
  color: #F07178;
}
code[class*="language-"] .token.deleted,
pre[class*="language-"] .token.deleted {
  color: #F07178;
}
code[class*="language-"] .token.symbol,
pre[class*="language-"] .token.symbol {
  color: #C3E88D;
}
code[class*="language-"] .token.selector,
pre[class*="language-"] .token.selector {
  color: #C792EA;
}
code[class*="language-"] .token.attr-name,
pre[class*="language-"] .token.attr-name {
  color: #C792EA;
}
code[class*="language-"] .token.string,
pre[class*="language-"] .token.string {
  color: #C3E88D;
}
code[class*="language-"] .token.char,
pre[class*="language-"] .token.char {
  color: #373b41;
}
code[class*="language-"] .token.builtin,
pre[class*="language-"] .token.builtin,
code[class*="language-"] .token.inserted,
pre[class*="language-"] .token.inserted {
  color: #C3E88D;
}
code[class*="language-"] .token.entity,
pre[class*="language-"] .token.entity {
  color: #89DDF3;
}
code[class*="language-"] .token.url,
pre[class*="language-"] .token.url {
  color: #FFCB6B;
}
code[class*="language-"] .token.operator,
pre[class*="language-"] .token.operator {
  color: #89DDF3;
}
code[class*="language-"] .token.atrule,
pre[class*="language-"] .token.atrule,
code[class*="language-"] .token.attr-value,
pre[class*="language-"] .token.attr-value,
code[class*="language-"] .token.keyword,
pre[class*="language-"] .token.keyword {
  color: #C792EA;
}
code[class*="language-"] .token.function,
pre[class*="language-"] .token.function {
  color: #82AAFF;
}
code[class*="language-"] .token.class-name,
pre[class*="language-"] .token.class-name {
  color: #FFCB6B;
}
code[class*="language-"] .token.regex,
pre[class*="language-"] .token.regex,
code[class*="language-"] .token.important,
pre[class*="language-"] .token.important,
code[class*="language-"] .token.variable,
pre[class*="language-"] .token.variable {
  color: #89DDF3;
}
code[class*="language-"] .token.important,
pre[class*="language-"] .token.important,
code[class*="language-"] .token.bold,
pre[class*="language-"] .token.bold {
  font-weight: bold;
}
code[class*="language-"] .token.italic,
pre[class*="language-"] .token.italic {
  font-style: italic;
}
code[class*="language-"] .token.entity,
pre[class*="language-"] .token.entity {
  cursor: help;
}
