pre {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  color: #F8F8F2;
  background-color: #323232 !important;
  border: #515151;
  border-radius: 3px;
}
code[class*="language-"] .token.comment,
pre[class*="language-"] .token.comment,
code[class*="language-"] .token.prolog,
pre[class*="language-"] .token.prolog,
code[class*="language-"] .token.doctype,
pre[class*="language-"] .token.doctype,
code[class*="language-"] .token.cdata,
pre[class*="language-"] .token.cdata {
  color: #75715E;
}
code[class*="language-"] .token.punctuation,
pre[class*="language-"] .token.punctuation {
  color: inherit;
}
code[class*="language-"] .namespace,
pre[class*="language-"] .namespace {
  opacity: .7;
}
code[class*="language-"] .token.property,
pre[class*="language-"] .token.property,
code[class*="language-"] .token.tag,
pre[class*="language-"] .token.tag,
code[class*="language-"] .token.boolean,
pre[class*="language-"] .token.boolean,
code[class*="language-"] .token.number,
pre[class*="language-"] .token.number,
code[class*="language-"] .token.function-name,
pre[class*="language-"] .token.function-name,
code[class*="language-"] .token.constant,
pre[class*="language-"] .token.constant,
code[class*="language-"] .token.symbol,
pre[class*="language-"] .token.symbol,
code[class*="language-"] .token.deleted,
pre[class*="language-"] .token.deleted {
  color: #AE81FF;
}
code[class*="language-"] .token.selector,
pre[class*="language-"] .token.selector,
code[class*="language-"] .token.attr-name,
pre[class*="language-"] .token.attr-name,
code[class*="language-"] .token.string,
pre[class*="language-"] .token.string,
code[class*="language-"] .token.char,
pre[class*="language-"] .token.char,
code[class*="language-"] .token.builtin,
pre[class*="language-"] .token.builtin,
code[class*="language-"] .token.inserted,
pre[class*="language-"] .token.inserted {
  color: #E6DB74;
}
code[class*="language-"] .token.entity,
pre[class*="language-"] .token.entity {
  color: #AE81FF;
}
code[class*="language-"] .token.url,
pre[class*="language-"] .token.url {
  color: #CCC;
}
code[class*="language-"] .token.operator,
pre[class*="language-"] .token.operator {
  color: #F92672;
}
code[class*="language-"] .token.atrule,
pre[class*="language-"] .token.atrule,
code[class*="language-"] .token.attr-value,
pre[class*="language-"] .token.attr-value,
code[class*="language-"] .token.keyword,
pre[class*="language-"] .token.keyword {
  color: #66D9EF;
}
code[class*="language-"] .token.function,
pre[class*="language-"] .token.function {
  color: #A6E22E;
}
code[class*="language-"] .token.class-name,
pre[class*="language-"] .token.class-name {
  color: #A6E22E;
}
code[class*="language-"] .token.regex,
pre[class*="language-"] .token.regex {
  color: #AE81FF;
}
code[class*="language-"] .token.important,
pre[class*="language-"] .token.important,
code[class*="language-"] .token.variable,
pre[class*="language-"] .token.variable {
  color: #A6E22E;
}
code[class*="language-"] .token.important,
pre[class*="language-"] .token.important,
code[class*="language-"] .token.bold,
pre[class*="language-"] .token.bold {
  font-weight: bold;
}
code[class*="language-"] .token.italic,
pre[class*="language-"] .token.italic {
  font-style: italic;
}
code[class*="language-"] .token.entity,
pre[class*="language-"] .token.entity {
  cursor: help;
}
