pre {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  color: #383a42;
  background-color: #eaeaeb !important;
  border: #d1d1d2;
  border-radius: 3px;
}
code[class*="language-"] .token.comment,
pre[class*="language-"] .token.comment {
  color: #a0a1a7;
  font-style: italic;
}
code[class*="language-"] .token.comment .token.markup.token.link,
pre[class*="language-"] .token.comment .token.markup.token.link {
  color: #a0a1a7;
}
code[class*="language-"] .token.type,
pre[class*="language-"] .token.type {
  color: #c18401;
}
code[class*="language-"] .token.other.token.inherited-class,
pre[class*="language-"] .token.other.token.inherited-class {
  color: #50a14f;
}
code[class*="language-"] .token.keyword,
pre[class*="language-"] .token.keyword {
  color: #a626a4;
}
code[class*="language-"] .token.keyword.token.control,
pre[class*="language-"] .token.keyword.token.control {
  color: #a626a4;
}
code[class*="language-"] .token.keyword.token.operator,
pre[class*="language-"] .token.keyword.token.operator {
  color: #383a42;
}
code[class*="language-"] .token.keyword.token.other.token.special-method,
pre[class*="language-"] .token.keyword.token.other.token.special-method {
  color: #4078f2;
}
code[class*="language-"] .token.keyword.token.other.token.unit,
pre[class*="language-"] .token.keyword.token.other.token.unit {
  color: #986801;
}
code[class*="language-"] .token.storage,
pre[class*="language-"] .token.storage {
  color: #a626a4;
}
code[class*="language-"] .token.storage.token.type.token.annotation,
pre[class*="language-"] .token.storage.token.type.token.annotation,
code[class*="language-"] .token.storage.token.type.token.primitive,
pre[class*="language-"] .token.storage.token.type.token.primitive {
  color: #a626a4;
}
code[class*="language-"] .token.storage.token.modifier.token.package,
pre[class*="language-"] .token.storage.token.modifier.token.package,
code[class*="language-"] .token.storage.token.modifier.token.import,
pre[class*="language-"] .token.storage.token.modifier.token.import {
  color: #383a42;
}
code[class*="language-"] .token.variable,
pre[class*="language-"] .token.variable {
  color: #986801;
}
code[class*="language-"] .token.character.token.escape,
pre[class*="language-"] .token.character.token.escape {
  color: #0184bc;
}
code[class*="language-"] .token.numeric,
pre[class*="language-"] .token.numeric {
  color: #986801;
}
code[class*="language-"] .token.other.token.color,
pre[class*="language-"] .token.other.token.color {
  color: #0184bc;
}
code[class*="language-"] .token.other.token.symbol,
pre[class*="language-"] .token.other.token.symbol {
  color: #0184bc;
}
code[class*="language-"] .token.variable,
pre[class*="language-"] .token.variable {
  color: #e45649;
}
code[class*="language-"] .token.variable.token.interpolation,
pre[class*="language-"] .token.variable.token.interpolation {
  color: #ca1243;
}
code[class*="language-"] .token.variable.token.parameter,
pre[class*="language-"] .token.variable.token.parameter {
  color: #383a42;
}
code[class*="language-"] .token.string,
pre[class*="language-"] .token.string {
  color: #50a14f;
}
code[class*="language-"] .token.string.token.regexp,
pre[class*="language-"] .token.string.token.regexp {
  color: #0184bc;
}
code[class*="language-"] .token.string.token.regexp .token.source.token.ruby.token.embedded,
pre[class*="language-"] .token.string.token.regexp .token.source.token.ruby.token.embedded {
  color: #c18401;
}
code[class*="language-"] .token.string.token.other.token.link,
pre[class*="language-"] .token.string.token.other.token.link {
  color: #e45649;
}
code[class*="language-"] .token.punctuation.token.definition.token.comment,
pre[class*="language-"] .token.punctuation.token.definition.token.comment {
  color: #a0a1a7;
}
code[class*="language-"] .token.punctuation.token.definition.token.method-parameters,
pre[class*="language-"] .token.punctuation.token.definition.token.method-parameters,
code[class*="language-"] .token.punctuation.token.definition.token.function-parameters,
pre[class*="language-"] .token.punctuation.token.definition.token.function-parameters,
code[class*="language-"] .token.punctuation.token.definition.token.parameters,
pre[class*="language-"] .token.punctuation.token.definition.token.parameters,
code[class*="language-"] .token.punctuation.token.definition.token.separator,
pre[class*="language-"] .token.punctuation.token.definition.token.separator,
code[class*="language-"] .token.punctuation.token.definition.token.seperator,
pre[class*="language-"] .token.punctuation.token.definition.token.seperator,
code[class*="language-"] .token.punctuation.token.definition.token.array,
pre[class*="language-"] .token.punctuation.token.definition.token.array {
  color: #383a42;
}
code[class*="language-"] .token.punctuation.token.definition.token.heading,
pre[class*="language-"] .token.punctuation.token.definition.token.heading,
code[class*="language-"] .token.punctuation.token.definition.token.identity,
pre[class*="language-"] .token.punctuation.token.definition.token.identity {
  color: #4078f2;
}
code[class*="language-"] .token.punctuation.token.definition.token.bold,
pre[class*="language-"] .token.punctuation.token.definition.token.bold {
  color: #c18401;
  font-weight: bold;
}
code[class*="language-"] .token.punctuation.token.definition.token.italic,
pre[class*="language-"] .token.punctuation.token.definition.token.italic {
  color: #a626a4;
  font-style: italic;
}
code[class*="language-"] .token.punctuation.token.section.token.embedded,
pre[class*="language-"] .token.punctuation.token.section.token.embedded {
  color: #ca1243;
}
code[class*="language-"] .token.punctuation.token.section.token.method,
pre[class*="language-"] .token.punctuation.token.section.token.method,
code[class*="language-"] .token.punctuation.token.section.token.class,
pre[class*="language-"] .token.punctuation.token.section.token.class,
code[class*="language-"] .token.punctuation.token.section.token.inner-class,
pre[class*="language-"] .token.punctuation.token.section.token.inner-class {
  color: #383a42;
}
code[class*="language-"] .token.support.token.class,
pre[class*="language-"] .token.support.token.class {
  color: #c18401;
}
code[class*="language-"] .token.support.token.type,
pre[class*="language-"] .token.support.token.type {
  color: #0184bc;
}
code[class*="language-"] .token.support.token.function,
pre[class*="language-"] .token.support.token.function {
  color: #0184bc;
}
code[class*="language-"] .token.support.token.function.token.any-method,
pre[class*="language-"] .token.support.token.function.token.any-method {
  color: #4078f2;
}
code[class*="language-"] .token.function,
pre[class*="language-"] .token.function {
  color: #4078f2;
}
code[class*="language-"] .token.class-name,
pre[class*="language-"] .token.class-name,
code[class*="language-"] .token.type.token.class-name,
pre[class*="language-"] .token.type.token.class-name {
  color: #c18401;
}
code[class*="language-"] .token.section,
pre[class*="language-"] .token.section {
  color: #4078f2;
}
code[class*="language-"] .token.tag,
pre[class*="language-"] .token.tag {
  color: #e45649;
}
code[class*="language-"] .token.other.token.attribute-name,
pre[class*="language-"] .token.other.token.attribute-name {
  color: #986801;
}
code[class*="language-"] .token.other.token.attribute-name.token.id,
pre[class*="language-"] .token.other.token.attribute-name.token.id {
  color: #4078f2;
}
code[class*="language-"] .token.meta.token.class,
pre[class*="language-"] .token.meta.token.class {
  color: #c18401;
}
code[class*="language-"] .token.meta.token.class.token.body,
pre[class*="language-"] .token.meta.token.class.token.body {
  color: #383a42;
}
code[class*="language-"] .token.meta.token.method-call,
pre[class*="language-"] .token.meta.token.method-call,
code[class*="language-"] .token.meta.token.method,
pre[class*="language-"] .token.meta.token.method {
  color: #383a42;
}
code[class*="language-"] .token.meta.token.definition.token.variable,
pre[class*="language-"] .token.meta.token.definition.token.variable {
  color: #e45649;
}
code[class*="language-"] .token.meta.token.link,
pre[class*="language-"] .token.meta.token.link {
  color: #986801;
}
code[class*="language-"] .token.meta.token.require,
pre[class*="language-"] .token.meta.token.require {
  color: #4078f2;
}
code[class*="language-"] .token.meta.token.selector,
pre[class*="language-"] .token.meta.token.selector {
  color: #a626a4;
}
code[class*="language-"] .token.meta.token.separator,
pre[class*="language-"] .token.meta.token.separator {
  background-color: #373b41;
  color: #383a42;
}
code[class*="language-"] .token.meta.token.tag,
pre[class*="language-"] .token.meta.token.tag {
  color: #383a42;
}
code[class*="language-"] .token.underline,
pre[class*="language-"] .token.underline {
  text-decoration: underline;
}
code[class*="language-"] .token.none,
pre[class*="language-"] .token.none {
  color: #383a42;
}
code[class*="language-"] .token.invalid.token.deprecated,
pre[class*="language-"] .token.invalid.token.deprecated {
  color: #000000 !important;
  background-color: #f2a60d !important;
}
code[class*="language-"] .token.invalid.token.illegal,
pre[class*="language-"] .token.invalid.token.illegal {
  color: white !important;
  background-color: #ff1414 !important;
}
code[class*="language-"] .token.markup.token.bold,
pre[class*="language-"] .token.markup.token.bold {
  color: #986801;
  font-weight: bold;
}
code[class*="language-"] .token.markup.token.changed,
pre[class*="language-"] .token.markup.token.changed {
  color: #a626a4;
}
code[class*="language-"] .token.markup.token.deleted,
pre[class*="language-"] .token.markup.token.deleted {
  color: #e45649;
}
code[class*="language-"] .token.markup.token.italic,
pre[class*="language-"] .token.markup.token.italic {
  color: #a626a4;
  font-style: italic;
}
code[class*="language-"] .token.markup.token.heading,
pre[class*="language-"] .token.markup.token.heading {
  color: #e45649;
}
code[class*="language-"] .token.markup.token.heading .token.punctuation.token.definition.token.heading,
pre[class*="language-"] .token.markup.token.heading .token.punctuation.token.definition.token.heading {
  color: #4078f2;
}
code[class*="language-"] .token.markup.token.link,
pre[class*="language-"] .token.markup.token.link {
  color: #0184bc;
}
code[class*="language-"] .token.markup.token.inserted,
pre[class*="language-"] .token.markup.token.inserted {
  color: #50a14f;
}
code[class*="language-"] .token.markup.token.quote,
pre[class*="language-"] .token.markup.token.quote {
  color: #986801;
}
code[class*="language-"] .token.markup.token.raw,
pre[class*="language-"] .token.markup.token.raw {
  color: #50a14f;
}
