pre {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  color: #abb2bf;
  background-color: #31363f !important;
  border: #4b5362;
  border-radius: 3px;
}
code[class*="language-"] .token.comment,
pre[class*="language-"] .token.comment {
  color: #5c6370;
  font-style: italic;
}
code[class*="language-"] .token.comment .token.markup.token.link,
pre[class*="language-"] .token.comment .token.markup.token.link {
  color: #5c6370;
}
code[class*="language-"] .token.type,
pre[class*="language-"] .token.type {
  color: #e5c07b;
}
code[class*="language-"] .token.other.token.inherited-class,
pre[class*="language-"] .token.other.token.inherited-class {
  color: #98c379;
}
code[class*="language-"] .token.keyword,
pre[class*="language-"] .token.keyword {
  color: #c678dd;
}
code[class*="language-"] .token.keyword.token.control,
pre[class*="language-"] .token.keyword.token.control {
  color: #c678dd;
}
code[class*="language-"] .token.keyword.token.operator,
pre[class*="language-"] .token.keyword.token.operator {
  color: #abb2bf;
}
code[class*="language-"] .token.keyword.token.other.token.special-method,
pre[class*="language-"] .token.keyword.token.other.token.special-method {
  color: #61afef;
}
code[class*="language-"] .token.keyword.token.other.token.unit,
pre[class*="language-"] .token.keyword.token.other.token.unit {
  color: #d19a66;
}
code[class*="language-"] .token.storage,
pre[class*="language-"] .token.storage {
  color: #c678dd;
}
code[class*="language-"] .token.storage.token.type.token.annotation,
pre[class*="language-"] .token.storage.token.type.token.annotation,
code[class*="language-"] .token.storage.token.type.token.primitive,
pre[class*="language-"] .token.storage.token.type.token.primitive {
  color: #c678dd;
}
code[class*="language-"] .token.storage.token.modifier.token.package,
pre[class*="language-"] .token.storage.token.modifier.token.package,
code[class*="language-"] .token.storage.token.modifier.token.import,
pre[class*="language-"] .token.storage.token.modifier.token.import {
  color: #abb2bf;
}
code[class*="language-"] .token.variable,
pre[class*="language-"] .token.variable {
  color: #d19a66;
}
code[class*="language-"] .token.character.token.escape,
pre[class*="language-"] .token.character.token.escape {
  color: #56b6c2;
}
code[class*="language-"] .token.numeric,
pre[class*="language-"] .token.numeric {
  color: #d19a66;
}
code[class*="language-"] .token.other.token.color,
pre[class*="language-"] .token.other.token.color {
  color: #56b6c2;
}
code[class*="language-"] .token.other.token.symbol,
pre[class*="language-"] .token.other.token.symbol {
  color: #56b6c2;
}
code[class*="language-"] .token.variable,
pre[class*="language-"] .token.variable {
  color: #e06c75;
}
code[class*="language-"] .token.variable.token.interpolation,
pre[class*="language-"] .token.variable.token.interpolation {
  color: #be5046;
}
code[class*="language-"] .token.variable.token.parameter,
pre[class*="language-"] .token.variable.token.parameter {
  color: #abb2bf;
}
code[class*="language-"] .token.string,
pre[class*="language-"] .token.string {
  color: #98c379;
}
code[class*="language-"] .token.string.token.regexp,
pre[class*="language-"] .token.string.token.regexp {
  color: #56b6c2;
}
code[class*="language-"] .token.string.token.regexp .token.source.token.ruby.token.embedded,
pre[class*="language-"] .token.string.token.regexp .token.source.token.ruby.token.embedded {
  color: #e5c07b;
}
code[class*="language-"] .token.string.token.other.token.link,
pre[class*="language-"] .token.string.token.other.token.link {
  color: #e06c75;
}
code[class*="language-"] .token.punctuation.token.definition.token.comment,
pre[class*="language-"] .token.punctuation.token.definition.token.comment {
  color: #5c6370;
}
code[class*="language-"] .token.punctuation.token.definition.token.method-parameters,
pre[class*="language-"] .token.punctuation.token.definition.token.method-parameters,
code[class*="language-"] .token.punctuation.token.definition.token.function-parameters,
pre[class*="language-"] .token.punctuation.token.definition.token.function-parameters,
code[class*="language-"] .token.punctuation.token.definition.token.parameters,
pre[class*="language-"] .token.punctuation.token.definition.token.parameters,
code[class*="language-"] .token.punctuation.token.definition.token.separator,
pre[class*="language-"] .token.punctuation.token.definition.token.separator,
code[class*="language-"] .token.punctuation.token.definition.token.seperator,
pre[class*="language-"] .token.punctuation.token.definition.token.seperator,
code[class*="language-"] .token.punctuation.token.definition.token.array,
pre[class*="language-"] .token.punctuation.token.definition.token.array {
  color: #abb2bf;
}
code[class*="language-"] .token.punctuation.token.definition.token.heading,
pre[class*="language-"] .token.punctuation.token.definition.token.heading,
code[class*="language-"] .token.punctuation.token.definition.token.identity,
pre[class*="language-"] .token.punctuation.token.definition.token.identity {
  color: #61afef;
}
code[class*="language-"] .token.punctuation.token.definition.token.bold,
pre[class*="language-"] .token.punctuation.token.definition.token.bold {
  color: #e5c07b;
  font-weight: bold;
}
code[class*="language-"] .token.punctuation.token.definition.token.italic,
pre[class*="language-"] .token.punctuation.token.definition.token.italic {
  color: #c678dd;
  font-style: italic;
}
code[class*="language-"] .token.punctuation.token.section.token.embedded,
pre[class*="language-"] .token.punctuation.token.section.token.embedded {
  color: #be5046;
}
code[class*="language-"] .token.punctuation.token.section.token.method,
pre[class*="language-"] .token.punctuation.token.section.token.method,
code[class*="language-"] .token.punctuation.token.section.token.class,
pre[class*="language-"] .token.punctuation.token.section.token.class,
code[class*="language-"] .token.punctuation.token.section.token.inner-class,
pre[class*="language-"] .token.punctuation.token.section.token.inner-class {
  color: #abb2bf;
}
code[class*="language-"] .token.support.token.class,
pre[class*="language-"] .token.support.token.class {
  color: #e5c07b;
}
code[class*="language-"] .token.support.token.type,
pre[class*="language-"] .token.support.token.type {
  color: #56b6c2;
}
code[class*="language-"] .token.support.token.function,
pre[class*="language-"] .token.support.token.function {
  color: #56b6c2;
}
code[class*="language-"] .token.support.token.function.token.any-method,
pre[class*="language-"] .token.support.token.function.token.any-method {
  color: #61afef;
}
code[class*="language-"] .token.function,
pre[class*="language-"] .token.function {
  color: #61afef;
}
code[class*="language-"] .token.class-name,
pre[class*="language-"] .token.class-name,
code[class*="language-"] .token.type.token.class-name,
pre[class*="language-"] .token.type.token.class-name {
  color: #e5c07b;
}
code[class*="language-"] .token.section,
pre[class*="language-"] .token.section {
  color: #61afef;
}
code[class*="language-"] .token.tag,
pre[class*="language-"] .token.tag {
  color: #e06c75;
}
code[class*="language-"] .token.other.token.attribute-name,
pre[class*="language-"] .token.other.token.attribute-name {
  color: #d19a66;
}
code[class*="language-"] .token.other.token.attribute-name.token.id,
pre[class*="language-"] .token.other.token.attribute-name.token.id {
  color: #61afef;
}
code[class*="language-"] .token.meta.token.class,
pre[class*="language-"] .token.meta.token.class {
  color: #e5c07b;
}
code[class*="language-"] .token.meta.token.class.token.body,
pre[class*="language-"] .token.meta.token.class.token.body {
  color: #abb2bf;
}
code[class*="language-"] .token.meta.token.method-call,
pre[class*="language-"] .token.meta.token.method-call,
code[class*="language-"] .token.meta.token.method,
pre[class*="language-"] .token.meta.token.method {
  color: #abb2bf;
}
code[class*="language-"] .token.meta.token.definition.token.variable,
pre[class*="language-"] .token.meta.token.definition.token.variable {
  color: #e06c75;
}
code[class*="language-"] .token.meta.token.link,
pre[class*="language-"] .token.meta.token.link {
  color: #d19a66;
}
code[class*="language-"] .token.meta.token.require,
pre[class*="language-"] .token.meta.token.require {
  color: #61afef;
}
code[class*="language-"] .token.meta.token.selector,
pre[class*="language-"] .token.meta.token.selector {
  color: #c678dd;
}
code[class*="language-"] .token.meta.token.separator,
pre[class*="language-"] .token.meta.token.separator {
  background-color: #373b41;
  color: #abb2bf;
}
code[class*="language-"] .token.meta.token.tag,
pre[class*="language-"] .token.meta.token.tag {
  color: #abb2bf;
}
code[class*="language-"] .token.underline,
pre[class*="language-"] .token.underline {
  text-decoration: underline;
}
code[class*="language-"] .token.none,
pre[class*="language-"] .token.none {
  color: #abb2bf;
}
code[class*="language-"] .token.invalid.token.deprecated,
pre[class*="language-"] .token.invalid.token.deprecated {
  color: #523d14 !important;
  background-color: #e0c285 !important;
}
code[class*="language-"] .token.invalid.token.illegal,
pre[class*="language-"] .token.invalid.token.illegal {
  color: white !important;
  background-color: #e05252 !important;
}
code[class*="language-"] .token.markup.token.bold,
pre[class*="language-"] .token.markup.token.bold {
  color: #d19a66;
  font-weight: bold;
}
code[class*="language-"] .token.markup.token.changed,
pre[class*="language-"] .token.markup.token.changed {
  color: #c678dd;
}
code[class*="language-"] .token.markup.token.deleted,
pre[class*="language-"] .token.markup.token.deleted {
  color: #e06c75;
}
code[class*="language-"] .token.markup.token.italic,
pre[class*="language-"] .token.markup.token.italic {
  color: #c678dd;
  font-style: italic;
}
code[class*="language-"] .token.markup.token.heading,
pre[class*="language-"] .token.markup.token.heading {
  color: #e06c75;
}
code[class*="language-"] .token.markup.token.heading .token.punctuation.token.definition.token.heading,
pre[class*="language-"] .token.markup.token.heading .token.punctuation.token.definition.token.heading {
  color: #61afef;
}
code[class*="language-"] .token.markup.token.link,
pre[class*="language-"] .token.markup.token.link {
  color: #56b6c2;
}
code[class*="language-"] .token.markup.token.inserted,
pre[class*="language-"] .token.markup.token.inserted {
  color: #98c379;
}
code[class*="language-"] .token.markup.token.quote,
pre[class*="language-"] .token.markup.token.quote {
  color: #d19a66;
}
code[class*="language-"] .token.markup.token.raw,
pre[class*="language-"] .token.markup.token.raw {
  color: #98c379;
}
