name: Test

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install nodejs
        uses: actions/setup-node@v5
        with:
          cache: "pnpm"
          node-version-file: .tool-versions

      - name: Install dependencies
        run: corepack enable && pnpm install

      - name: Run checks
        run: pnpm check:all

      - name: Run tests
        run: pnpm test
